* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
  height: 150px;
  background-color: brown;
}

main {
  display: flex;
  height: calc(100vh - 150px);
  background-color: chartreuse;
}

#sidebar {
  width: 400px;
  height: 100%;
  background-color: cadetblue;
}

#content {
  height: 100%;
  width: calc(100vw - 400px);
  overflow-y: auto;
  background-color: burlywood;
}

.header-row {
  height: 100px;
  width: calc(100vw - 400px);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
}

button {
  margin: 0 30px;
}