/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(97, 100, 105);
}

footer {
  height: 120px;
  background-color: rgb(40, 40, 40);
}

main {
  display: flex;
  height: calc(100vh - 120px);
  background-color: chartreuse;
}

button {
  margin: 0 30px;
  padding: 15px 50px;
  border-radius: 30px;
  border: 2px solid white;
  background-color: rgb(8, 11, 18, 0.7);
}

ul {
  list-style: none;
}

section {
  margin-left: 25px;
}

h2 {
  margin-top: 50px;
  font-size: 1.6rem;
}

h3 {
  margin-top: 10px;
  font-size: 1.2rem;
}

section p {
  margin: 10px 0;
}

ul i,
.fa-user {
  font-size: 1.4rem;
}

#content img {
  height: 150px;
  width: 100%;
}

footer h3 {
  display: block;
}

footer i {
  font-size: 1.4rem;
  margin-right: 20px;
}

a {
  text-decoration: none;
}

/* LAYOUT */
#sidebar {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
}

#content {
  height: 100%;
  width: calc(100vw - 300px);
  overflow-y: auto;
  background-color: rgb(20, 25, 34);
}

.header-row {
  height: 100px;
  width: calc(100vw - 300px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  background-color: rgba(8, 11, 18, 0.7);
}

.footer-row {
  height: 100%;
  display: flex;
  position: relative;
}

.logo {
  height: 30px;
  margin: 15px 0;
}

#sidebar ul {
  margin-top: 10px;
  line-height: 30px;
}

#sidebar h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.add {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  background-color: rgb(163, 163, 163);
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.container-bar {
  max-width: 500px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.popular div img {
  border-radius: 50%;
}

footer img {
  display: inline-block;
  height: 60px;
  width: 60px;
  vertical-align: middle;
  margin-right: 15px;
}

.fa-plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: black;
}

.bottom {
  border-bottom: 3px solid greenyellow;
  width: 40px;
  height: 3px;
}

.play-icons p {
  font-size: 20px;
}

.fa-circle-play {
  font-size: 35px;
}

.bar-song {
  position: relative;
  height: 5px;
  width: 20%;
  background-color: aliceblue;
}

.bar-song-max {
  height: 5px;
  width: 550px;
  background-color: rgb(97, 100, 105);
}

div.circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  display: none;
}

.bar-audio {
  position: relative;
  height: 5px;
  width: 30px;
  background-color: aliceblue;
}

.bar-audio-max {
  height: 5px;
  width: 150px;
  background-color: rgb(97, 100, 105);
}

button:hover {
  scale: 1.1;
  cursor: pointer;
}

a:hover {
  color: white;
  cursor: pointer;
}

a:hover .fa-magnifying-glass,
a:hover .fa-book {
  color: rgb(144, 151, 158);
}

a:hover .fa-house {
  color: white;
  cursor: pointer;
}

div.add:hover {
  background-color: white;
  cursor: pointer;
}

.name:hover {
  text-decoration: underline;
}

footer i:hover {
  color: white;
  cursor: pointer;
}

div.bar-song-max:hover div.bar-song,
div.bar-song:hover div.bar-song {
  background-color: greenyellow;
}

div.bar-song-max:hover div.circle,
div.bar-song:hover div.circle {
  display: block;
}

div.bar-song-max:hover,
div.bar-song:hover {
  cursor: pointer;
}

div.bar-audio-max:hover div.bar-audio,
div.bar-audio:hover div.bar-audio {
  background-color: greenyellow;
}

div.bar-audio-max:hover div.circle,
div.bar-audio:hover div.circle {
  display: block;
}

div.bar-audio-max:hover,
div.bar-audio:hover {
  cursor: pointer;
}


.fa-circle-play:hover {
  scale: 1.2;
}

/* UTILITIES */
.justify-between {
  justify-content: space-between;
}

.align-center {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}

.gap-20 {
  gap: 20px;
}

.gap-15 {
  gap: 15px;
}

.mg-left-30 {
  margin-left: 30px;
}

.mg-left-50 {
  margin-left: 50px;
}

.pd-right-5 {
  padding-right: 5px;
}

.mg-0-15 {
  margin: 0 15px;
}

.mg-20-0 {
  margin: 20px 0;
}

.mg-left-65 {
  margin-left: 50%;
}

.mg-left-15 {
  margin-left: 15px;
}

.pd-top-120 {
  padding-top: 120px;
}

.pd-top-20 {
  padding-top: 20px;
}

.pd-bottom-200 {
  padding-bottom: 200px;
}

.pd-right-120 {
  padding-right: 120px;
}

.pd-bottom-10 {
  padding-bottom: 10px;
}

.pd-left-25 {
  padding-left: 25px;
}

.wd-15 {
  width: 15%;
}

.white {
  color: white;
}

.lwhite {
  color: rgb(218, 218, 218);
}

.border-bottom {
  border-bottom: 2px solid rgb(97, 100, 105);
}

.border-left {
  border-left: 5px solid greenyellow;
}