/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

footer {
  height: 150px;
  background-color: brown;
}

main {
  display: flex;
  height: calc(100vh - 150px);
  background-color: chartreuse;
}

button {
  margin: 0 30px;
  padding: 15px 30px;
  border-radius: 30px;
  border: 2px solid white;
  background-color: rgb(8, 11, 18, 0.7);
}

ul {
  list-style: none;
}

section {
  margin-left: 25px;
}

h2 {
  margin-top: 50px;
  font-size: 1.6rem;
}

section p {
  margin: 10px 0;
}

/* LAYOUT */
#sidebar {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: cadetblue;
}

#content {
  height: 100%;
  width: calc(100vw - 300px);
  overflow-y: auto;
  background-color: burlywood;
}

.header-row {
  height: 100px;
  width: calc(100vw - 300px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  background-color: rgba(8, 11, 18, 0.7);
}

.footer-row {
  height: 100%;
  display: flex;
}

.logo {
  height: 60px;
  margin: 15px 0;
}

#sidebar ul {
  margin-top: 10px;
  line-height: 40px;
}

#sidebar h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.add {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  background-color: gray;
  display: inline-block;
  vertical-align: middle;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.popular div img {
  border-radius: 50%;
}

footer img {
  display: inline-block;
  height: 60px;
  width: 60px;
  vertical-align: middle;
}

/* UTILITIES */
.justify-between {
  justify-content: space-between;
}

.align-center {
  display: flex;
  align-items: center;
}

.gap-20 {
  gap: 20px;
}

.gap-10 {
  gap: 10px;
}

.mg-left-30 {
  margin-left: 30px;
}

.mg-left-50 {
  margin-left: 50px;
}

.mg-0-15 {
  margin: 0 15px;
}

.mg-20-0 {
  margin: 20px 0;
}

.pd-top-120 {
  padding-top: 120px;
}

.pd-top-20 {
  padding-top: 20px;
}

.pd-bottom-200 {
  padding-bottom: 200px;
}

.wd-gap-20 {
  width: calc(100% / 6 - 20px);
}

.white {
  color: white;
}

.bg-blue {
  background-color: lightskyblue;
}